@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav ms-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-light">
                Olá, @User.Identity?.Name
            </span>
        </li>

        <li class="nav-item">
            <form asp-area="Identity"
                  asp-page="/Account/Logout"
                  method="post"
                  class="d-inline">
                <button type="submit" class="btn btn-link nav-link text-light">
                    Sair
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light"
               asp-area="Identity"
               asp-page="/Account/Login">
                Entrar
            </a>
        </li>
    }
</ul>
