@using Microsoft.AspNetCore.Identity
@using IntraNet.Models
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Início";
    var usuario = await UserManager.GetUserAsync(User);
}

<section class="welcome">
    <h1>
        Olá, <strong>@usuario?.Nome</strong> 👋
    </h1>

    <p>
        Bem-vindo à intranet da VNT Internet.
    </p>
</section>