@{
    ViewData["Title"] = "Início";
}

<section class="welcome">
    <h1>
        Olá, <strong>@User.Identity!.Name</strong> 👋
    </h1>

    <p>
        Bem-vindo à intranet da VNT Internet.
    </p>
</section>