@model ApplicationUser

<h2>Novo Agente</h2>

<form method="post">
    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input asp-for="Nome" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Senha</label>
        <input type="password" name="senha" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Setor</label>
        <select asp-for="Setor" class="form-select" required>
            <option value="">Selecione</option>
            <option value="Admin">Admin</option>
            <option value="NOC">NOC</option>
            <option value="Suporte">Suporte</option>
            <option value="Financeiro">Financeiro</option>
            <option value="Comercial">Comercial</option>
        </select>
    </div>

    
    <div class="form-check mb-3">
        <input class="form-check-input"
               type="checkbox"
               name="isAdmin"
               value="true"
               id="isAdmin" />

        <label class="form-check-label" for="isAdmin">
            Admin? (acesso total ao sistema)
        </label>
    </div>

    <div class="mb-3">
        <label class="form-label">Ativo</label>
        <select asp-for="Ativo" class="form-select">
            <option value="true">Sim</option>
            <option value="false">Não</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success">
        Salvar
    </button>
</form>
