name: Deploy IntraNet (Self-Hosted)

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Setup .NET 10
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Restore
        run: dotnet restore

      - name: Publish
        run: dotnet publish -c Release -o /home/intranet/publish

      - name: Ajustar permissões
        run: |
          sudo chown -R noc:noc /home/intranet/publish

      - name: Restart serviço Intranet
        run: |
          sudo systemctl restart intranet.service
          sudo systemctl status intranet.service --no-pager
