name: Deploy IntraNet (Self-Hosted)

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Restore
        run: dotnet restore

      - name: Publish
        run: dotnet publish -c Release -o /home/intranet/publish

      - name: Ajustar permissões
        run: sudo chown -R noc:noc /home/intranet/publish

      - name: Restart serviço Intranet
        run: sudo systemctl restart intranet.service
